*{
    font-family: 'Germania One', cursive;
    color: rgb(12, 12, 12);
}
html{
    background-color: rgb(77, 127, 136);
}

p{
    font-size: 4vh;
}

.collect{
    font-size: 5vh;
}

.action{
    font-size: 6vh;
}
#valueCoin{
    color: rgb(231, 116, 39)
}
#sell{
    font-size: 6vh;
}
#shop{
    font-size: 6vh;
}
.Money{
    font-size: 6vh;
    /*text-align: right;*/
}
